body {
    background: url(towel.jpeg) repeat-x scroll;
}

img {
    width: 320;
    height: 320;
}

p {
    font-size: larger;
}

h1 {
    color: rgb(12, 38, 87);
}

h2 {
    color: rgb(12, 38, 87);
}

h3 {
    color: rgb(12, 38, 87);
}

li {
    color: rgb(12, 38, 87);
    font-weight: 1000;
}